:root {
  --mtr-color: inherit;
  --mtr-bg-color: inherit;

  --mtr-a-color: inherit;
  --mtr-a-color-hover: inherit;

  --mtr-ctr-color: inherit;
  --mtr-ctr-bg-color: inherit;

  --mtr-corner-1: 16px;
  --mtr-corner-2: 12px;
  --mtr-corner-3: 8px;
  --mtr-corner-4: 4px;
}