:root {
  --mtr-color: inherit;
  --mtr-bg-color: inherit;

  --mtr-a-color: inherit;
  --mtr-a-color-hover: inherit;

  --mtr-ctr-color: inherit;
  --mtr-ctr-bg-color: inherit;

  --mtr-corner: 16px;
}